:root {
  font-family: "Courier New", Courier, monospace;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.button {
  text-decoration: none;
  justify-content: center;
  align-items: center;
  display: flex;
  color: initial;
  border: 1px solid gray;
  border-radius: 5px;
  width: 200px;
}

a.button:hover {
  border: 3px solid darkgray;
  transition: border 0.2s;
}
